*{
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    color: #41403d;
    font-style: normal;
    background-color: #fffef9;
    /* letter-spacing: 1.5px;
    line-height: 1.5; */
    width: 100%;
    min-height: 100vh;
}
.wrapper-about-us{
    display: flex;
    align-items: flex-start;
    padding: 5% 10%;
    font-family: "Poppins", sans-serif;
}
.about-us{
    width: 60%;
    text-align: justify;
    align-self: self-start;
}
.about-us h1{
    text-transform: uppercase;
    margin: 5% 0%;
}
.about-us h2{
    margin-top: 5%;
}
.read-more__btn button{
    padding: 3% 5%;
    margin: 10% 0%;
    background-color: #41403d;
    border-radius: 10px;
    text-align: center;
}
.read-more__btn a{
    text-decoration: none;
    color: antiquewhite;
    letter-spacing: 5px;
    font-size: 17px;
}
.read-more__btn button:hover{
    background-color: #64d810;
}
.read-more__btn a:hover{
    cursor: pointer;
}
.social i{
    color: #64d810;
    font-size: 30px;
    padding: 15% 3%;
}
.about-us__image img{
    width: 70%;
    border-radius: 8px;
    margin: 5% 10%;
    transition: transform 0.3s ease;
    float: inline-end;
}
.about-us__image img:hover{
    transform: scale(1.1);
}
