.container{
    
}

h1 {
    text-align:center;
    margin-top: 90px;
}
.description{
    float: left;
    width: 50%;
    margin-left: 22px;
    text-align:justify;
}
.image{
    margin-left: 100px;
    margin-bottom: 26px;
    margin-top: 24px;

}