<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="../../style/normalize.css">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <ul>
                    <h3>USEFUL LINKS</h3>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="newsletter">
                <h3>NEWSLETTER</h3>
                <form action="">
                    <input type="email" placeholder="Please enter your email" required>
                    <button type="submit">SUBSCRIBE NOW</button>
                </form>
            </div>
            <div class="adress-footer">
                <h3>Adress</h3>
                <p>ABC Street, 1234 Zip Code <br>
                    Gothenburg/SWEDEN
                </p>
                <div class="footer_social">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>